form {
  width: 90%;
  max-width: 300px;
  background-color: #008080;
  padding: 33px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #61dafa;
  border-radius: 25px;
}
label {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #cce6e6;
  margin-bottom: 26px;
}
textarea {
  background-color: #202329;
  border: 2px solid #008080;
  border-radius: 10px;
  box-shadow: 0 5px 50px rgba(32, 35, 41, 0.25);
  color: #cce6e6;
  font: normal bold 20px "Calibri", sans-serif;
  text-align: center;
  padding: 12px;
  height: 96px;
  width: calc(100% - 25px);
  resize: none;
  margin-bottom: 26px;
}
textarea::placeholder {
  color: #a5a5a5;
  font: normal bold 20px "Calibri", sans-serif;
  font-weight: 400;
}
textarea:focus {
  outline-color: #61dafa;
}
select {
  background-color: #202329;
  border: 2px solid #61dafa;
  border-radius: 10px;
  box-shadow: 0 5px 50px rgba(32, 35, 41, 0.25);
  color: #cce6e6;
  font-size: 12px;
  font: normal bold 20px "Calibri", sans-serif;
  text-align: center;
  padding: 12px;
  resize: none;
}
.TodoForm-buttonContainer {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  color: #202329;
  font-weight: 400;
  width: 120px;
  height: 48px;
  border-radius: 2px;
  border: none;
  font: normal bold 20px "Calibri", sans-serif;
}
.TodoForm-button--add {
  background: #61dafa;
  box-shadow: 0 5px 25px rgba(97, 218, 250, 0.5);
}
.TodoForm-button--cancel {
  background: 0 0;
}
